.navbar-brand{
    color:blue;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}

.bg-color{
    background-color: rgb(219, 219, 219);
}

.navbar-nav > li{
    padding: 10px;
}

.navbar-brand {
    color: rgba(169, 132, 132, 0.9);
    font-size: larger;
}

.cart{
    padding:2px;
}

.container{
    padding: 5px;
}

.heading1{
    background-color: rgb(187, 185, 185);
    padding:20px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    /* border-radius: 10px; */
}

.heading2{
    background-color: rgb(144, 172, 251);
    padding:20px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif; 
}

.btn{
    margin-left:20px;
}

.card-img-top{
    /* height:400px;
    width:200px; */
    padding:20px;
    object-fit: contain;
}

.container{
    margin-top:10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: rgb(187, 187, 187);
    border-radius: 10px;
}

.container2{
    margin-top: 20px;
    margin:8px;
}

.container3{
    margin-top: 15px;
    padding : 10px;
    padding-left: 300px;
    padding-right: 300px;
    border-radius: 10px;
}

.card-body{
    background-color: rgb(240, 240, 240);
}

.card{
    padding:10px;
}

.checked {
    color: orange;
  }

.center{
    text-align: center;
    padding: 30px;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #141414;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

.li.nav-item.dropdown{
    padding:0px;
    margin: 0px;
}

